<div class="card text-center">
    <div class="card-header bg-primary text-white">Your Business Booking</div>
    <div class="card-body">
        <h4 class="card-title">Copy the following URL and send it to your customers</h4>
        <span class="border rounded-lg p-2">{{fullURL}}</span>
    </div>
</div>